.progressGrid {

	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;

	&__grid {
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-columns: repeat(100, 1fr);
	}

	&__cell {

		width: 50%;
		height: 50%;
		margin: auto;
		background-color: $_whiteAlmostTransparent;
		transition: background-color $_transitionTime ease-in-out, border-color $_transitionTime ease-in-out;
		position: relative;
		box-sizing: border-box;

		&--milestone {
			border: 1px solid transparent;
			z-index: $_zIndex1;
		}

		label {
			position: absolute;
			font-size: $_fontSizeS;
			bottom: 100%;
			left: 100%;
			background-color: $_darkGrey;
			border: 1px solid $_white;
			padding: $_gutterXs;
			white-space: nowrap;
			opacity: 0;
			transform: translate(-$_gutterXs, $_gutterXs);
			transition: opacity $_transitionTime ease-in-out, transform $_transitionTime ease-in-out;
		}

	}

	&__labelLine {
		position: absolute;
		top: 0;
		left: 50%;
		bottom: 0;
		margin: auto;
		width: 200%;
		height: 2px;
		background-color: $_white;
		transform: rotate(-45deg);
		transform-origin: center left;
		transition: opacity $_transitionTime ease-in-out;
		opacity: 0;
	}

	&--active .progressGrid__cell--active {

		background-color: $_lightBlue;

		&.progressGrid__cell--milestone {
			border-color: $_white;
		}

		.progressGrid__labelLine {
			opacity: 1;
		}

		label {
			opacity: 1;
			transform: translate(0);
		}

	}

	&__label {
		margin: $_gutter auto 0;
	}

}
