$selection-indexHeight: 20px;

.selection {

	color: white;
	display: flex;
	flex-direction: column;

	&__body {

		height: calc(100% - #{$selection-indexHeight});
		position: relative;
		transition: height $_transitionTime ease-in-out;

		@include enterLeaveClasses();

	}

	&Choice {

		display: flex;
		flex-direction: column;
		position: absolute;
		width: 100%;
		height: 100%;

		& > label {

			width: 100%;
			height: 20%;
			text-align: center;
			display: flex;
			font-size: $_fontSizeL;

			& > span {
				margin: auto;
			}

		}

		&__content {
			display: flex;
			height: 80%;
		}

		&__choice {

			width: 100%;
			height: 100%;
			margin: 0 $_gutterL 0 0;
			background-color: $_whiteAlmostTransparent;
			border-radius: $_radius;
			display: flex;
			cursor: pointer;

			&:hover {
				background-color: $_whiteSemiOpaque;
			}

			&:active {
				background-color: $_whiteAlmostOpaque;
			}

			&:last-child {
				margin: 0;
			}

			& > span {
				margin: auto;
				font-size: $_fontSizeXxl;
			}

		}

	}

	&Index {

		width: 100%;
		height: $selection-indexHeight;
		transition: height $_transitionTime ease-in-out;
		display: flex;
		overflow: hidden;

		&__dot {

			width: calc(100% - #{$selection-indexHeight});
			height: $selection-indexHeight;
			margin: auto 0;
			position: relative;
			padding: 0 $selection-indexHeight;
			opacity: 0.25;

			& > div {
				background-color: $_lightBlue;
				width: 100%;
				height: 100%;
			}

			&:before,
			&:after {
				content: '';
				position: absolute;
				top: 0;
				width: 0;
				height: 0;
				border-style: solid;
			}

			&:before {
				border-width: 0 0 $selection-indexHeight $selection-indexHeight;
				border-color: transparent transparent $_lightBlue transparent;
				left: 0;
			}

			&:after {
				border-width: $selection-indexHeight $selection-indexHeight 0 0;
				border-color: $_lightBlue transparent transparent  transparent;
				right: 0;
			}

			&:first-child {

				&:before {
					width: $selection-indexHeight;
					height: $selection-indexHeight;
					background-color: $_lightBlue;
					border-top-left-radius: 100%;
					border-bottom-left-radius: 100%;
					border-width: 0;
				}

			}

			&:last-child {

				&:after {
					width: $selection-indexHeight;
					height: $selection-indexHeight;
					background-color: $_lightBlue;
					border-top-right-radius: 100%;
					border-bottom-right-radius: 100%;
					border-width: 0;
				}

			}

			&--active {
				@include gentlePulse();
			}

			&--completed {
				opacity: 1;
			}

		}

	}

	&--results .selection {

		&__body {
			height: 100%;
		}

		&Index {
			height: 0;
		}

	}

}
