@keyframes starMove {

	from {
		transform: translateY(0px)
	}

	to {
		transform: translateY(-2000px)
	}

}

@keyframes gentlePulse {

	from {
		opacity: 0.9;
	}

	50% {
		opacity: 0.5;
	}

	to {
		opacity: 0.9;
	}

}

@keyframes buttonPulse {

	from {
		background-color: $_whiteAlmostTransparent;
	}

	50% {
		background-color: $_whiteSemiOpaque;
	}

	to {
		background-color: $_whiteAlmostTransparent;
	}

}
