@mixin starMove($duration: 50s) {
	animation: starMove $duration linear infinite;
}

@mixin gentlePulse($duration: 3s) {
	animation: gentlePulse $duration linear infinite;
}

@mixin transitionOpacity() {
	transition: opacity $_transitionTime ease-in-out;
}

@mixin transitionAll($duration: $_transitionTime, $delay: 0s) {
	transition: all $duration ease-in-out $delay;
}

@mixin transition($property) {
	transition: $property $_transitionTime ease-in-out;
}

@mixin enterLeaveClasses($delay: $_transitionTime) {

	&-enter {
		@include transitionAll($_transitionTime, $delay);
		opacity: 0;
		transform: scale(0.5);
	}

	&-enter-active {
		opacity: 1;
		transform: scale(1);
	}

	&-leave {
		@include transitionAll($_transitionTime, 0s);
		opacity: 1;
		transform: scale(1);
	}

	&-leave-active {
		opacity: 0;
		transform: scale(0.5);
	}

}

@mixin disabled() {
	opacity: 0.25;
	cursor: default;
}

@mixin buttonPulse($duration: 1.5s) {
	animation: buttonPulse $duration linear infinite;
}
