$_black: #090a0f;
$_darkGrey: #111111;
$_darkBlue: #1b2735;
$_lightBlue: #81cce4;

$_whiteAlmostTransparent: rgba(255, 255, 255, 0.25);
$_whiteSemiOpaque: rgba(255, 255, 255, 0.5);
$_whiteAlmostOpaque: rgba(255, 255, 255, 0.75);

$_fontSize: 3vmin;
$_fontSizeL: 2rem;
$_fontSizeXl: 3rem;
$_fontSizeXxl: 4rem;

$_zIndex-2: -2000;
$_zIndex-1: -1000;
$_zIndex1: 1000;

$_gutterXs: 5px;
$_gutterS: 10px;
$_gutter: 20px;
$_gutterL: 40px;

$_radius: 10px;

$_lineHeight: 1rem;
